*{
    font-family: poppins;
   margin: 0px; padding: 0px;
   box-sizing: border-box;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
font-family: poppins;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    /* width: 100%; */
    margin: auto;
    /* background-color: rgb(132, 255, 0); */
}
.menu{
    display: flex;
    
 
}
.menu a{
    margin: 0px 15px;
    padding: 3px 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
.logo{
    font-size: 1.4rem;
    color: rgb(96, 88, 78);
        font-weight: 900;
}
.logo span{
    color: rgb(22, 194, 22);
  
}

.right-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap : 25px;
}
.right-nav a{
    height: 40px; width: 40px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    

}

.right-nav .like{
    background-color: rgb(241, 55, 55);
    color: white;
}
.right-nav .cart{
    background-color: rgb(187, 199, 27);
    color: green;

}
.right-nav .like span{
    
   top: -7px; 
}
