*{
    font-family: poppins;
   margin: 0px; padding: 0px;
   box-sizing: border-box;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
font-family: poppins;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    width: 100%;
    margin: auto;
}
.menu{
    display: flex;
    
 
}
.menu a{
    margin: 0px 15px;
    padding: ;
    letter-spacing: 1px;
}